" jk is escape
inoremap jk <esc>
inoremap kj <esc>
" Jump long lines as standard lines
nnoremap j gj
nnoremap k gk
" Indent
vnoremap <tab> >
vnoremap <s-tab> <
" Make search appear in middle of screen
nnoremap n nzz
nnoremap N Nzz
nnoremap * *zz
nnoremap # #zz
nnoremap g* g*zz
nnoremap g# g#zz
nnoremap <enter> o<esc>
nnoremap <s-enter> O<esc>

set number
set showmatch
set ruler
set incsearch
set ignorecase
set smartcase
set relativenumber
set showcmd
syntax on
set tabstop=2
set autoindent
set expandtab
